.App {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 100px;
}

.button {
  width: 100px;
  height: 50px;
  font-size: large;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  width: 110px;
  height: 60px;
}
